body {
  background-color:yellow;
  background-image:url('battle-background.jpg');
  background-position:center;
}

h1 {
  font-family: monospace;
  font-style: italic;
  color: powderblue
}

h2 {

  font-family: monospace;
  font-style: italic;
  color: powderblue
}



/* .main {

} */
