body {
  background-color:yellow;
  background-image:url('battle-background.jpg');
  background-position:center;
}

.main{

}

h1 {
  font-family: monospace;
  font-style: italic;
  color: powderblue
}

h2 {
  font-family: monospace;
  font-style: italic;
  color: powderblue
}

form {
  text-align: left;
}

.player_1 {
  color: black;
}
.player_2 {
  color: green;
}
.button {
  background-color: navy;
  color: white;
  outline-color: navy;
}
